.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.PostTitle {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.post-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 800px; }

.post-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px; 
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  background-color: #9cbfe4;
}

.post-content {
  flex: 1;
  margin-right: 20px; 
}

.post-content h5 {
  margin: 0 0 5px;
}

.post-content p {
  margin: 5px 0; 
}

.post-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.edit-btn, .delete-btn {
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  display: block; 
  margin-bottom: 5px; 
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #e04d5c;
}

.delete-btn:hover {
  background-color: #b90617;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .PostTitle {
    font-size: 20px; 
    margin-bottom: 15px;
  }

  .post-item {
    padding: 8px; 
    flex-direction: column; 
  }

  .post-content {
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .post-actions {
    align-items: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .PostTitle {
    font-size: 18px; 
    margin-bottom: 10px;
  }

  .post-item {
    padding: 6px;
  }

  .post-content h5 {
    font-size: 16px; 
  }

  .post-content p {
    font-size: 13px;
  }

  .edit-btn, .delete-btn {
    font-size: 12px;
    padding: 4px 6px;
  }

  .error-message {
    font-size: 12px; 
    margin-top: 8px; 
  }
}
